Django==1.9.2
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
git+git://github.com/twisted/twisted.git@master
git+git://github.com/hendrix/hendrix.git@master
amqp==1.4.9
anyjson==0.3.3
argh==0.26.1
billiard==3.3.0.22
celery==3.1.20
cffi==1.5.0
characteristic==14.3.0
cryptography==1.2.2
decorator==4.0.6
idna==2.0
kombu==3.0.33
mccabe==0.4.0
path.py==8.1.2
pathtools==0.1.2
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5.1
pyOpenSSL==0.15.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pychalk==1.1.0
pycparser==2.14
pytz==2015.7
service-identity==14.0.0
sexpdata==0.0.3
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
watchdog==0.8.3
zope.interface==4.1.3
coverage
pytest
ipython
ipdb
